/* Define uma variável CSS para a margem superior */
:root {
    --margin-top: 2rem;
}

/* Estilos para a animação de fade-in */
.fade-enter {
    opacity: 0;
}

/* Estilos para centralizar o logo */
.logoCenter {
    position: relative;
    width: 100px;
}

/* Estilos para o logo no topo */
.logo-top {
    border-radius: 50px;
    position: relative;
    top: -70px;
    width: 100px;
    height: 100px;
}

/* Estilos para o ícone do logo no topo */
.logo-top-icon {
    position: relative;
    top: -30px;
}

/* Estilos para a animação de fade-in ativa */
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

/* Estilos para a animação de fade-out */
.fade-exit {
    opacity: 1;
}

/* Estilos para a animação de fade-out ativa */
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

/* Estilos para o rótulo do formulário flutuante */
.form-floating>label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0.8rem .75rem;
    width: auto;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
}

/* Estilos para o controle do formulário */
.form-control {
    position: relative;
    display: block;
    width: 100%; /* Ajuste a largura conforme necessário */
    height: auto; /* Ajuste a altura conforme necessário */
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Estilos para o controle do formulário quando focado ou não vazio */
.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown),
.form-floating>.form-control-plaintext:focus,
.form-floating>.form-select {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

/* Estilos para o rótulo do formulário flutuante quando focado ou não vazio */
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-control-plaintext~label,
.form-floating>.form-select:not([value='']):valid~label,
.form-floating>.form-select~label {
    font-size: 1rem;
    opacity: 1;
    transform: scale(1) translateY(-1.6rem) translateX(0.15rem);
    margin-left: .5rem;
    color: #000000;
    padding: 0rem 0rem;
    height: 40%;
}

/* Estilos para a borda esquerda do controle do formulário */
.input_left_color {
    border-left: 5px solid #0d6efd;
}

/* Estilos para o logo de login */
.logoLogin {
    width: 150px; /* Ajuste a largura conforme necessário */
    position: relative;
    top: -30px;
    left: -15px;
    z-index: 2;
}

/* Estilos para a posição relativa */
.position {
    position: relative;
    z-index: 1;
    color: #ffffff;
}

/* Estilos para o boletim informativo */
.newsletter {
    box-sizing: border-box;
    background-color: hsl(211, 100%, 50%);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding: 2em;
    overflow: hidden;
}

/* Estilos para a coluna oculta */
.col_log_hidden {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

/* Estilos para o elemento com a classe lm */
.lm {
    position: relative;
    top: 0;
    transition: transform 300ms, box-shadow 300ms;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 600px;
        height: 600px;
        border-top-left-radius: 40%;
        border-top-right-radius: 45%;
        border-bottom-left-radius: 35%;
        border-bottom-right-radius: 40%;
    }

    &::before {
        bottom: 40%;
        background-image: linear-gradient(to right, #007bff, #00b1bb);
        animation: waves 6s infinite linear;
    }

    &::after {
        top: 70%;
        background-image: linear-gradient(to right, #00b1bb, #007bff);
        animation: waves 7s infinite;
    }
}

/* Declaração da animação de ondas */
@keyframes waves {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(270deg);
    }
}

/* Estilos para a mensagem SMS */
.sms {
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: Geneva, Tahoma, Geneva, Verdana, sans-serif;
    margin-left: .5rem;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
}

/* Estilos para o contêiner da mensagem SMS */
.smsContainner {
    position: relative;
    display: flex;
    box-sizing: border-box;
    z-index: 1;
    word-wrap: break-word;
    border-left: white solid 4px;
}

/* Estilos para o contêiner central */
.container-center {
    position: relative;
    z-index: 1;
    width: 100%; /* Ajuste a largura conforme necessário */
    max-width: 400px; /* Defina um valor máximo para a largura */
    margin: 0 auto; /* Centraliza o contêiner */
    padding: 20px; /* Ajuste o preenchimento conforme necessário */
}

/*# sourceMappingURL=index.css.map */