.footer-text {
  font-size: 14px;
  color: #333; /* Cor do texto */
}

.ideias-inovadoras {
  background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Gradiente laranja */
  -webkit-background-clip: text; /* Aplica o gradiente apenas ao texto */
  background-clip: text;
  color: transparent; /* Torna o texto transparente para mostrar o gradiente */
  font-weight: bold; /* Texto em negrito */
}
