.footer-text {
    font-size: 0.9rem; /* Texto menor para ocupar menos espaço */
  }
  
  .ideias-inovadoras {
    background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Gradiente laranja */
    -webkit-background-clip: text; /* Aplica o gradiente apenas ao texto */
    background-clip: text;
    color: transparent; /* Torna o texto transparente para mostrar o gradiente */
    font-weight: bold; /* Texto em negrito */
  }
  